// بسم الله
$cal1: #F87171;
$cal2: #FDE047;

$pro1: #3B82F6;
$pro2: #F87171;

$carb1: #CA8A04;
$carb2: #F472B6;

$fat1: #4ADE80;
$fat2: #FDE047;
// Variables
$gap: 3rem;
:root {
    --clr-50: hsl(224, 66%, 97%); --clr-100: hsl(224, 66%, 92%); --clr-200: hsl(224, 66%, 85%); --clr-300: hsl(224, 66%, 75%); --clr-400: hsl(224, 66%, 63%); --clr-500: hsl(224, 66%, 55%); --clr-600: hsl(224, 66%, 50%); --clr-700: hsl(224, 66%, 40%); --clr-800: hsl(224, 66%, 36%); --clr-900: hsl(224, 66%, 29%); --clr-950: hsl(224, 66%, 15%); --clr-900-25: hsla(224, 66%, 29%, 0.25); --clr-950-50: hsla(224, 66%, 15%, 0.5); --clr-950-75: hsla(224, 66%, 15%, 0.75);
}